@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Cantarell);
* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: Cantarell;
    position: relative
}
body {
    background-color: #34495e;
    position: relative;
}
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
}
h1 {
    color: #c0392b;
    font-size: 7vw;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-shadow: 0 0.1vw white;
}
p {
    margin: 0;
    padding: 0;
    font-size: 4vh;
}
.Banners {
    display: block;
    height: 100vh;
    width: 100%;
    position: relative;
}
.title {
    color: #34495e;
    font-weight: bold;
    text-shadow: 0 0 0.1vw white;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    font-size: 2vw;
    width: 15vw;
}
/* First Banner*/

#firstBanner {
    background: url(../Images/background2.jpg)no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.overlay {
    background: #34495e;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    position: absolute;
    opacity: 0.3;
}
#firstBanner p {
    text-align: center;
}
#firstBanner .text {
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    border-radius: 4%;
    position: relative;
    margin-top: 11vh;
    color: white;
    text-shadow: 0vw 0.1vw 0.1vw black;
}
#text1.text {
    padding: 2% 2% 2% 2%;
}
#resume {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 2vh;
}
/*Photo & Menu*/

#photo {
    background: url(https://lh3.googleusercontent.com/-soJVy0YeCK8/UoyvxTpCRwI/AAAAAAAAACk/2XgmpXmAin0/w140-h140-p/20%2Bnov.%2B2013%2B13%253A48%253A53.jpg) no-repeat;
    background-size: 100% 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    position: relative;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    border: 0.1vw solid white;
}
/* Glyphicon*/

.myglif {
    position: relative;
    font-size: 6vw;
    color: #c0392b;
    opacity: 2;
}
#bot.myglif {
    position: fixed;
    text-align: center;
    cursor: pointer;
    z-index: 10;
    width: 100%;
    height: 16px;
    top: 87%;
    text-shadow: 0 0 0.1vw white;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*Second Banner*/

#secondBanner {
    background-color: #bdc3c7;
    background-size: 100% 100%;
    z-index: 2;
    position: relative;
}
#skills {
    width: 70%;
    height: 55vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    display: inline-flex;
}
#skills .title p {
    padding-left: 0;
    margin-left: 0;
    font-size: 2vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: start;
}
.mycolumn {
    width: 130vh;
    ;
    margin-left: 20vw;
}
.grade {
    width: 2.5vw;
    height: 2.5vw;
    background-color: #c0392b;
    border-radius: 50%;
    border: solid 0.6vw white;
    margin-right: 2.5vw;
}
.grades {
    display: flex;
}
/*Third Banner*/

#thirdBanner {
    width: 100%;
    height: 200vh;
    background-size: 100% 100%;
    z-index: 2;
    position: relative;
}
#thirdBanner h1 {
    color: white;
    text-shadow: 0 0.1vw #bdc3c7;
    position: relative;
}
#start {
    width: 15vh;
    height: 15vh;
    padding-top: 1vh;
}
#start p {
    font-size: 2.8vw;
}
.verticalline {
    width: 2vw;
    height: 120vh;
    background: #bdc3c7;
    margin-right: auto;
    margin-left: 48.5vw;
    margin-top: -2vw;
    position: absolute;
}
.dot {
    width: 3vw;
    height: 3vw;
    background-color: #c0392b;
    border-radius: 50%;
    box-shadow: 0vw 0vw 0.1vw 0.1vw white;
    margin-right: auto;
    margin-left: auto;
    margin-top: -2vw;
    margin-bottom: 1vw;
    position: relative;
    margin-top: 2vh;
}
.bigdot {
    background-color: #bdc3c7;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0vw 0vw 0.1vw 0.1vw white;
}
.bigdot p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    padding-top: 2vh;
}
.year {
    width: 10vh;
    height: 10vh;
    padding: 0;
}
.careerText {
    width: 25vw;
    background-color: #bdc3c7;
    position: absolute;
    padding: 1vh 2vh 2vh 2vh;
    text-align: justify;
    border-radius: 4%;
}
.careerText.left {
    left: 10vw;
}
.careerText.right {
    right: 10vw;
}
.careerText h2 {
    color: #34495e;
    font-size: 1vw;
}
.careerText h3 {
    color: #c0392b;
    font-size: 1vw;
}
.careerText p {
    font-size: 1vw;
}
.nothing {
    background: transparent;
    box-shadow: none;
}
#first {
    top: 35vh;
}
#GIE {
    top: 60vh;
}
#diploma {
    top: 70vh;
}
#GOA {
    top: 85vh;
}
#ITCE {
    top: 100vh;
}
#SIEN {
    top: 125vh;
}
#end {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#fourthBanner {
    height: 100vh;
    background-color: #bdc3c7;
    background-size: 100% 100%;
    z-index: 2;
    position: relative;
}
#hobbiestable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    width: 70vw;
}
.containerHobbies {
    display: inline-flex;
    margin-left: 0;
    width: 100%
}
.hobimages {
    width: 17vw;
    height: 30vh;
}
#coding {
    background: url(../Images/coding.png)no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
#bowling {
    background: url(../Images/bowling.png)no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
#meals {
    background: url(../Images/meals.png)no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
#music {
    background: url(../Images/music.png)no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
#football {
    background: url(../Images/football.png) no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
/*Fifth Banner*/

#fifthBanner {
    background: url(../Images/step.jpg)no-repeat;
    background-size: 100% 100%;
}
#fifthBanner h1 {
    color: white;
    text-shadow: 0 0.1vw #34495e;
    position: relative;
}
#blocContact {
    position: relative;
    width: 50vw;
    margin-left: 22vw;
    margin-top: 8vh;
}
.logo {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -ms-filter: invert(100%);
    -o-filter: invert(100%);
    height: 5vw;
    width: 5vw;
}
#address {
    background: url(../Images/home.png)no-repeat;
    background-size: 100% 100%;
}
#phone {
    background: url(../Images/phone.png)no-repeat;
    background-size: 100% 100%;
}
#mobile {
    background: url(../Images/mobile.png)no-repeat;
    background-size: 100% 100%;
}
#mail {
    background: url(../Images/mail.png)no-repeat;
    background-size: 100% 100%;
}
.bloc {
    display: inline-flex;
}
.text {
    margin-left: 2vw;
    color: white;
    text-shadow: 0 0.1vw #34495e;
    font-size: 3vw;
}