@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Cantarell);
* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: Cantarell;
}
body {
    width: 100%;
    height: 100%;
    background-color: #34495e;
}
h1 {
    color: #c0392b;
    font-size: 7vw;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-shadow: 0 0.1vw white;
}
p {
    margin: 0;
    padding: 0;
    font-size: 2vw;
}
.Banners {
    width: 100%;
    height: 100%;
    display: block;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #EEE;
    opacity: 0.2;
}
/* First Banner*/

.Banners #firstBanner {
    position: relative;
    width: 100%;
    height: 100vh;
}
.Banners #firstBanner p {
    text-align: center;
}
.Banners #firstBanner .text {
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    background: #bdc3c7;
    border-radius: 4%;
    position: relative;
}
#text1.text {
    padding: 2% 2% 2% 2%;
}
#text2.text {
    left: 75%;
}
#text3.text {
    left: 50%;
}
#resume {
    width: 100%;
    height: 100%;
    position: relative;
}
/*Photo & Menu*/
#photo {
    background: url(https://lh3.googleusercontent.com/-soJVy0YeCK8/UoyvxTpCRwI/AAAAAAAAACk/2XgmpXmAin0/w140-h140-p/20%2Bnov.%2B2013%2B13%253A48%253A53.jpg) no-repeat;
    background-size: 100% 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    position: relative;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}
/* Glyphicon*/
.myglif {
    position: relative;
    font-size: 6vw;
    color: #c0392b;
    opacity: 2;
}
#top.myglif {
    top: 1%;
    left: 50%;
}
#left.myglif {
    top: 25%;
    left: 35.5%;
    background: red;
}
#right.myglif {
    top: 25%;
    right: 33.5%;
    background: blue;
}
#bot.myglif {
    position: fixed;
    text-align: center;
    cursor: pointer;
    z-index: 10;
    width: 100%;
    height: 16px;
    top: 87%;
    text-shadow: 0 0 0.1vw white;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*Second Banner*/
.Banners #secondBanner {
    width: 100%;
    height: 100vh;
    background-color: #bdc3c7;
    background-size: 100% 100%;
    z-index: 2;
    position: relative;
    
}

.semiDonut{
    width: 100%;
    height: 80vh;
}
#skills{
    width: 100%;
    height: 80vh;
    margin-left:auto;
    margin-right: auto;
    margin-top: -8vh;
}
#skills td{
    width:20vw;
}

.grade{
    width: 1.5vw;
    height: 1.5vw;
    background-color: #c0392b;
    border-radius: 50%;
    border: solid 0.3vw white;
   margin-right: 2.5vw;
}
.grades{
    display: flex;
}
.title{
    padding-left: 5vw;
    color:  #34495e;
    font-weight: bold;
    text-shadow: 0 0 0.1vw white;
}
/*Third Banner*/
.Banners #thirdBanner {
    width: 100%;
    height: 200vh;
    background-size: 100% 100%;
    z-index: 2;
    position: relative;
    padding-top: 5vw;
}
.Banners #thirdBanner h1{
  color: #bdc3c7;
}
#start{
    background-color: #bdc3c7;
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0vw 0vw 0.1vw 0.1vw white;
}
.verticalline{
    width: 2vw;
    height: 18vw;
    background: #bdc3c7;
    margin-right: auto;
    margin-left: auto;
    margin-top: -2vw;
}
.dot{
    width: 5vw;
    height: 5vw;
    background-color:#c0392b;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -2vw;
    margin-bottom: 1vw;
    position: relative;
}

.Banners #fourthBanner{
   width: 100%;
    height: 100vh;
    background-color: #bdc3c7;
    background-size: 100% 100%;
    z-index: 2;
    position: relative;
}
#hobbiestable,#hobbiestable tr,#hobbiestable td {
    margin-left: auto;
    margin-right: auto;
    margin-top: 13vh;
}
#hobbiestable p{
  text-align:center;
  font-size:2vw;
}
.hobimages {
    height: 25vw;
    width: 25vw;

}
#coding {
    background: url(../Images/coding.png)no-repeat;
    background-size: 80% 80%;
    background-position: center;
  
}
#bowling{
    background: url(../Images/bowling.png)no-repeat;
    background-size: 80% 80%;
    background-position: center;
}
#meals{
    background: url(../Images/meals.png)no-repeat;
    background-size: 80% 80%;
    background-position: center;
}
#music{
    background: url(../Images/music.png)no-repeat;
    background-size: 80% 80%;
    background-position: center;
}
#football {
    background: url(../Images/football.png) no-repeat;
    background-size: 80% 80%;
    background-position: center;
}

.features .content #cssmenu {
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: 10px;
}
.show {
    width: 15%;
    height: 100%;
    background-color: #2980b9;
    z-index: 20;
    opacity: 0.2;
}
/*# sourceMappingURL=cv.css.map */